@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
h5,
h4 {
  font-weight: normal;
}
ul {
  list-style: none;
}

body {
  background: rgba(238, 238, 238, 0.7);
  overflow-x: hidden;
}

nav {
  padding: 60px;
  position: relative;
}
nav > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
nav h3 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.65rem;
}

.menuBtnContainer > h4 {
  font-weight: 400;
  margin: 0 25px;
}

.menuBtnContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.menuButton {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.menuButton .ham,
.cross {
  position: absolute;

  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 40%;
  transform: translate(-50%, -50%);
}
.menuButton .ham div,
.cross div {
  display: block;
  margin: 3px 0;
  width: 100%;

  height: 2px;
  background-color: black;
}

.ham div:nth-child(1),
.cross div:nth-child(1) {
  transform-origin: 0% 50%;
}

.ham div:nth-child(2),
.cross div:nth-child(2) {
  transform-origin: 100% 0%;
}

.cross div {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  margin: 0;
}

.cross div:nth-child(1) {
  left: 15%;
}
.cross div:nth-child(2) {
  left: auto;
  right: 15%;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;
  height: 100vh;
  background: #fff;
  transform-origin: 100% 50%;
}

.menuContainer h4 {
  color: rgba(0, 0, 0, 0.3);
}

.links {
  display: flex;
  margin-top: -60px;
  padding: 0 100px;
}
.links h4 {
  margin-bottom: 35px;
}

.social {
  flex: 0.8;
}

.social a {
  padding-bottom: 25px;
  display: block;
}
.social a,
.menu a {
  /* border: 2px solid black; */

  display: inline-block;
}
.social li h5,
.menu li h5 {
  /* border:2px solid blueviolet; */
  overflow: hidden;
  display: block;
  width: fit-content;
  position: relative;

  font-size: 1.1rem;
}

.social li span,
.menu li span {
  display: inline-block;
}
.social li span::before,
.menu li span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
}
.social li span::after,
.menu li span::after {
  content: attr(data-text);
  position: absolute;

  top: 130%;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
}
.menu li span::after {
  top: 105%;
}

.menu {
  flex: 1.2;
}

.menu li span {
  font-size: 3.5rem;
  font-weight: 500;
}

.contact {
  position: absolute;
  bottom: 50px;
  left: 100px;
}

.contact h4 {
  margin-bottom: 10px;
}
.contact a {
  text-decoration: underline;
}

.cursor {
  z-index: 10;
  height: 0px;
  width: 0px;
  background: rgba(0, 0, 0);
  position: fixed;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  user-select: none;
  pointer-events: none;
  overflow: visible;
}

.filter2 {
  background: transparent;

  backdrop-filter: invert(100%);
  -webkit-backdrop-filter: invert(100%);
  -moz-backdrop-filter: invert(100%);
}
.filter {
  background: transparent;

  backdrop-filter: invert(100%);
  -webkit-backdrop-filter: invert(100%);
  -moz-backdrop-filter: invert(100%);
}

@media (max-width: 767px) {
  nav {
    padding: 30px;
  }
  .menuBtnContainer > h4 {
    display: none;
  }
  .menuContainer {
    width: 100vw;
  }
  .social {
    display: none;
  }
  .links {
    padding: 0 50px;
  }
  .contact {
    left: 50px;
  }
}

@media (max-width: 400px) {
  .menu li > a {
    font-size: 2rem;
  }
}
